.jqmOverlay { background-color: #000; }

body {
	font-family: Helvetica;
}

#background {
	background-image:url(../images/background.png);
	height: 900px;
	width: 462px;
	background-repeat: no-repeat;
	background-position: center top;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	display:block; 
	margin-left: auto; 
	margin-right: auto;
	width: 296px;
}

#phone_screen {
	padding:170px 68px 0px 65px;
}

#phone_area {
	height: 397px;
	padding: 0 0 0 9px;
}

#date {
	background-image:url(../images/date.png);
	color: #406397;
	padding-top: 17px;
	padding-left: 150px;
	font-family: Helvetica;
	font-height: 16pt;
	background-repeat: no-repeat;
	height: 40px;
}

#description {
	background-image:url(../images/backing.png);
	color: #406397;
	height: 200px;	
	padding: 10px 15px 5px 10px;
	background-repeat: no-repeat;
}

#map_canvas {
	height: 300px;
	width: 317px;
}

.iphone_helvetica {
	padding: 0px; 
	font-family: helvetica; 
	color: #4C566C; 
	font-weight: bold;
}

.directions_info {
	font-family: helvetica; 
	color: #4C566C; 
	font-size: 8pt;
}

#location_back {
	width: 72px; 
	margin-left:auto; 
	margin-right: auto; 
	padding-top: 20px;
}

.image_link, .transparent_link {
	text-decoration:none;
	border: none;
}

.transparent_link {
	top: 100px; 
	position: relative; 
	left: 5px; 
}

#success_dialog {
	position: absolute;
	background-image:url(../images/success.png);
	width: 277px;
	height: 152px;
	margin-left: 15px;
	margin-top: 20px;
}

#registration_form {
	padding: 7px 0 0 0;
}

#registrations {
	height: 370px;
	overflow-y: auto;
}