#background {
	background-image:url(../images/background.png);
	height: 900px;
	width: 462px;
	background-repeat: no-repeat;
	background-position: center top;
	margin-left: auto;
	margin-right: auto;
}

#phone_screen {
	padding:180px 71px 0px 74px;
}

#date {
	background-image:url(../images/date.png);
	color: #406397;
	padding-top: 17px;
	padding-left: 150px;
	font-family: Helvetica;
	font-height: 16pt;
	background-repeat: no-repeat;
	height: 40px;
}

#description {
	background-image:url(../images/backing.png);
	color: #406397;
	height: 240px;	
	padding: 5px 15px 5px 10px;
	background-repeat: no-repeat;
}

#location {
	text-decoration:none;
	border: none;
}