<div id="location">
  <div id="location_inner">
    <a href="#"><%= @event.location_name %></a>
  </div>
</div>

<div id="date">
	<%= @event.formatted_date if @event %>
</div>

<div id="description">
	<%= @event.description %>
</div>

<% if @event %>
	<%= render :partial => 'registration_form' %>
<% end %>
