<div id="location">
  <div>
    <a href="#">Obtiva</a>
  </div>
</div>

<div id="date">
	<%= @event.formatted_date if @event %>
</div>

<div id="description">
	<%= @event.description %>
</div>

<% if @event %>
	<%= render :partial => 'registration_form' %>
<% end %>
