<div id="location">
	<a href="#"><%= image_tag("location.png", :style => "text-decoration:none;border: none;") %></a>
</div>

<div id="date">
	<%= @event.event_date.to_s(:long) if @event %>
</div>

<div id="description">
	<%= @event.description %>
</div>

<% if @event %>
	<%= render :partial => 'registration_form' %>
<% end %>
