<div id="map_canvas"></div>
<div id="location_back">
	<a href="#"><%= image_tag 'back.png', :class => "image_link", :onmousedown => "this.src = '/images/backClicked.png'", :onmouseup => "this.src = '/images/back.png'" %></a>
</div>