<% form_for :registration, :url => {:action => "create"}, :html => {:id => "registration_form"} do |form| -%>
	<%= form.error_messages %>
	<div class="iphone_helvetica">Full Name</div>
	<table>
		<tr valign="top">
			<td>
				<%= form.text_field :name, :size => 13, :style => "font-size:17pt;" %> 
			</td>
			<td>
				<%= image_submit_tag 'register.png', :name => "submit_button", :onmousedown => "this.src = '/images/registerclicked.png'", :onmouseup => "this.src = '/images/register.png'" %>
			</td>
		</tr>
	</table>
	<p><input type="hidden" name="registration[event_id]" value="<%= @event.id %>" /></p>
<% end -%>
