<center><%= image_tag "logo.png" %></center>	
<br/>

<div id="background">
	<div id="phone_screen">
		<div id="registration_screen">
			<%= render :partial => 'registration_screen' %>
		</div>
		
		<div id="location_screen" style="display:none">
			<%= render :partial => 'location_screen' %>
		</div>
		
	</div>
</div>