<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>chiPhone</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<%= stylesheet_link_tag :all, :cache => false, :media => "all" %>	
		<%= javascript_include_tag "jquery", "jquery-ui", "jrails", "slide", "application"%>
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjIYoLrBfOh-jCyhGOt1UTRRH-uqCs86sUDnfSmuTcPt3r2LDFxSnN-trgYnMi2XuKb3MuObeLa0o6A&amp;sensor=false"
            type="text/javascript"></script>
	</head>
		
	<body onunload="GUnload()">
		<%= @content_for_layout %>
		
		<div id="footer">
		</div>
	</body>
</html>